<div class="container">
  <div class="title-container">
    Manter Sistema
  </div>

  <div class="header-text">
    Dados do Sistema
  </div>

  <form [formGroup]="form" fxLayoutAlign="center" novalidate>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Descrição</mat-label>
        <input matInput formControlName="description" maxlength="100">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Sigla</mat-label>
        <input matInput formControlName="initials" maxlength="10">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Email de atendimento do sistema</mat-label>
        <input matInput formControlName="email" maxlength="100">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>URL</mat-label>
        <input matInput formControlName="url" maxlength="50">
      </mat-form-field>
    </div>

    <div class="actions-buttons">
      <button mat-button (click)=back()>
        <i class="material-icons">arrow_back</i>
        Voltar
      </button>
      <button mat-button (click)=save()>Salvar
        <i class="material-icons">save</i>
      </button>
    </div>
  </form>
</div>
