<div class="container">
  <div class="title-container">
    Pesquisar Sistema
  </div>

  <div class="header-text">
    Filtro de Consulta
  </div>

  <form [formGroup]="form" fxLayoutAlign="center" novalidate>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Descrição</mat-label>
        <input matInput formControlName="description" maxlength="100">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Sigla</mat-label>
        <input matInput formControlName="initials" maxlength="10">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Email de atendimento do sistema</mat-label>
        <input matInput formControlName="email" maxlength="100">
      </mat-form-field>
    </div>

    <div class="actions-buttons">
      <button mat-button (click)=search(0)>Pesquisar
        <i class="material-icons">search</i>
      </button>
      <button mat-button (click)=clearForm()>Limpar
        <i class="material-icons">clear</i>
      </button>
      <button mat-button (click)=create()>Novo Sistema
        <i class="material-icons">post_add</i>
      </button>
    </div>
  </form>
</div>

<!-- Chamada do componente filho passando como input a página atual e recebendo como output quando o usuário mudou a paginação -->
<search-results [page]="page" (pageChange)="pageChange($event)"></search-results>
